*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  overflow-y: hidden !important;
}
.scrollbar_y{
  overflow-y: auto;
}
.scrollbar_y::-webkit-scrollbar{
  width: 10px;
  
}
.scrollbar_y::-webkit-scrollbar-track{
  background-color: lightgray;
}
.scrollbar_y::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,.1);
  height: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;